/* Styles pour la réactivité de la page Users */

/* Styles pour rendre les boutons réactifs */
.btn {
    padding: 10px 20px; /* Padding par défaut */
    font-size: 14px; /* Taille de police par défaut */
  }
  
/* Styles pour rendre la table réactive */
table {
    width: 100%; /* Largeur de la table 100% */
    border-collapse: collapse; /* Fusionner les bordures des cellules */
  }
  
th, td {
    padding: 10px; /* Padding des cellules */
    border: 1px solid #ddd; /* Bordures des cellules */
    text-align: left; /* Alignement du texte à gauche */
  }
  
/* Media queries pour les différentes tailles d'écran */
@media (max-width: 768px) {
    /* Styles pour les petits écrans */
    .btn {
      padding: 8px 16px; /* Réduire le padding des boutons */
      font-size: 12px; /* Réduire la taille de police des boutons */
    }
    
    th {
      font-size: 12px; /* Réduire la taille de police des titres de colonnes */
    }
    
    td {
      padding: 8px; /* Réduire le padding des cellules */
    }
  }
  
/* Media queries pour les écrans de taille moyenne */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Styles pour les écrans de taille moyenne */
    .btn {
      padding: 8px 16px; /* Taille de padding des boutons */
      font-size: 14px; /* Taille de police des boutons */
    }
    
    th {
      font-size: 14px; /* Taille de police des titres de colonnes */
    }
    
    td {
      padding: 10px; /* Padding des cellules */
    }
  }
  
/* Media queries pour les grands écrans */
@media (min-width: 1025px) {
    /* Styles pour les grands écrans */
    .btn {
      padding: 10px 20px; /* Padding des boutons */
      font-size: 16px; /* Taille de police des boutons */
    }
    
    th {
      font-size: 16px; /* Taille de police des titres de colonnes */
    }
    
    td {
      padding: 12px; /* Padding des cellules */
    }
  }
