.icon {
    display: inline-block;
    height: 34px;
    width: 60px;
}


/***********************VL*********************/

.icon-Berline {
    display: inline-block;
    -webkit-mask: url(../images/icon-categorie/Berline.svg) no-repeat;
    mask: url(../images/icon-categorie/Berline.svg) no-repeat; 
}

.icon-Break {
    display: inline-block;
    -webkit-mask: url(../images/icon-categorie/Berline.svg) no-repeat;
    mask: url(../images/icon-categorie/Berline.svg) no-repeat;
}

.icon-Monospace {
    display: inline-block;
    -webkit-mask: url(../images/icon-categorie/Berline.svg) no-repeat;
    mask: url(../images/icon-categorie/Berline.svg) no-repeat;
}

.icon-Pickup {
    display: inline-block;
    -webkit-mask: url(../images/icon-categorie/Berline.svg) no-repeat;
    mask: url(../images/icon-categorie/Berline.svg) no-repeat;
}

.icon-4X4 {
    display: inline-block;
    -webkit-mask: url(../images/icon-categorie/4X4.svg) no-repeat;
    mask: url(../images/icon-categorie/4X4.svg) no-repeat;
}

.icon-Fourgonnette {
    -webkit-mask: url(../images/icon-categorie/Fourgonnette.svg) no-repeat;
    mask: url(../images/icon-categorie/Fourgonnette.svg) no-repeat;
}

.icon-SUV {
    -webkit-mask: url(../images/icon-categorie/SUV.svg) no-repeat;
    mask: url(../images/icon-categorie/SUV.svg) no-repeat;
}


/***********************PL*********************/

.icon-Semi-Remorque {
    -webkit-mask: url(../images/icon-categorie/Semi-Remorque.svg) no-repeat;
    mask: url(../images/icon-categorie/Semi-Remorque.svg) no-repeat;
}

.icon-Tracteur {
    -webkit-mask: url(../images/icon-categorie/Tracteur.svg) no-repeat;
    mask: url(../images/icon-categorie/Tracteur.svg) no-repeat;
}

.icon-Camion-benne {
    -webkit-mask: url(../images/icon-categorie/Camion-benne.svg) no-repeat;
    mask: url(../images/icon-categorie/Camion-benne.svg) no-repeat;
}

.icon-Camion-bâché {
    -webkit-mask: url(../images/icon-categorie/Camion-bâché.svg) no-repeat;
    mask: url(../images/icon-categorie/Camion-bâché.svg) no-repeat;
}

.icon-Camion-toupie {
    -webkit-mask: url(../images/icon-categorie/Camion-toupie.svg) no-repeat;
    mask: url(../images/icon-categorie/Camion-toupie.svg) no-repeat;
}

.icon-Camion-toupie {
    -webkit-mask: url(../images/icon-categorie/Camion-toupie.svg) no-repeat;
    mask: url(../images/icon-categorie/Camion-toupie.svg) no-repeat;
}
.icon-Cellule-frigorigene {
    -webkit-mask: url(../images/icon-categorie/Cellule-frigorigene.svg) no-repeat;
    mask: url(../images/icon-categorie/Cellule-frigorigene.svg) no-repeat;
}
  

.icon-CAR {
    -webkit-mask: url(../images/icon-categorie/CAR.svg) no-repeat;
    mask: url(../images/icon-categorie/CAR.svg) no-repeat;
}

.icon-BUS {
    -webkit-mask: url(../images/icon-categorie/BUS.svg) no-repeat;
    mask: url(../images/icon-categorie/BUS.svg) no-repeat;
}


/***********************Engin*********************/

.icon-Chargeuse {
    -webkit-mask: url(../images/icon-categorie/Chargeuse.svg) no-repeat;
    mask: url(../images/icon-categorie/Chargeuse.svg) no-repeat;
}

.icon-Mini-chargeuse {
    -webkit-mask: url(../images/icon-categorie/Mini-chargeuse.svg) no-repeat;
    mask: url(../images/icon-categorie/Mini-chargeuse.svg) no-repeat;
}

.icon-Pelleteuse {
    -webkit-mask: url(../images/icon-categorie/Pelleteuse.svg) no-repeat;
    mask: url(../images/icon-categorie/Pelleteuse.svg) no-repeat;
}

.icon-Tractopelle {
    -webkit-mask: url(../images/icon-categorie/Tractopelle.svg) no-repeat;
    mask: url(../images/icon-categorie/Tractopelle.svg) no-repeat;
}

.icon-Bulldozer {
    -webkit-mask: url(../images/icon-categorie/Bulldozer.svg) no-repeat;
    mask: url(../images/icon-categorie/Bulldozer.svg) no-repeat;
}

.icon-Scraper {
    -webkit-mask: url(../images/icon-categorie/Scraper.svg) no-repeat;
    mask: url(../images/icon-categorie/Scraper.svg) no-repeat;
}

.icon-Rouleur-compresseur {
    -webkit-mask: url(../images/icon-categorie/Rouleur-compresseur.svg) no-repeat;
    mask: url(../images/icon-categorie/Rouleur-compresseur.svg) no-repeat;
}

.icon-Dumper {
    -webkit-mask: url(../images/icon-categorie/Dumper.svg) no-repeat;
    mask: url(../images/icon-categorie/Dumper.svg) no-repeat;
}

.icon-Niveleuse {
    -webkit-mask: url(../images/icon-categorie/Niveleuse.svg) no-repeat;
    mask: url(../images/icon-categorie/Niveleuse.svg) no-repeat;
}


/************************Grand et petit outillage**********************/

.icon-Grand-outillage {
    -webkit-mask: url(../images/icon-categorie/Grand-outillage.svg) no-repeat;
    mask: url(../images/icon-categorie/Grand-outillage.svg) no-repeat;
}

.icon-Petit-outillage {
    -webkit-mask: url(../images/icon-categorie/Petit-outillage.svg) no-repeat;
    mask: url(../images/icon-categorie/Petit-outillage.svg) no-repeat;
}


/*************************Utilitaires**********************************/

.icon-Vello {
    -webkit-mask: url(../images/icon-categorie/Vello.svg) no-repeat;
    mask: url(../images/icon-categorie/Vello.svg) no-repeat;
}

.icon-Camionnette {
    -webkit-mask: url(../images/icon-categorie/Camionnette.svg) no-repeat;
    mask: url(../images/icon-categorie/Camionnette.svg) no-repeat;
}

.icon-moto {
    -webkit-mask: url(../images/icon-categorie/moto.svg) no-repeat;
    mask: url(../images/icon-categorie/moto.svg) no-repeat;
}

.icon-Aucun {
    -webkit-mask: url(../images/icon-categorie/Berline.svg) no-repeat;
    mask: url(../images/icon-categorie/Berline.svg) no-repeat;
}