.steps {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.step-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1018px) {
  .steps {
    flex-direction: column;
  }

  .step {
    margin: 10px 0;
  }
}
