.mainWizard {
  display: flex;
  flex-direction: column;
}
.steps {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.step-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (max-width: 915px) {
  .steps {
    overflow-x: hidden !important;
  }
  .step-content {
    width: 5rem !important ;
    max-width: initial !important;
    min-width: inherit !important;
  }
  .step-circle::before {
    width: calc(6rem + 1rem - 3.5rem) !important;
  }
}


@media (max-width: 710px) {
  .step-content {
    width: 3rem !important ;
  }
  .step-circle::before {
    width: calc(4rem + 1rem - 3.5rem) !important;
  }
}

@media (max-width: 530px) {
  .step-content {
    width: 1.5rem !important ;
  }
  .step-circle::before {
    width: calc(3.5rem + 1rem - 3.5rem) !important;
  }
}
@media (max-width: 405px) {
  .step-content {
    width: 1rem !important ;
  }
 
  .step-circle::before {
    width: 0.5rem!important;
  }
}
